<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Sort</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js" integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
        crossorigin="anonymous"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- <script src="js/sort.js"></script> -->

    
    
</head>
<body>
    <div id="app" class="container my-3">
        <table class="table">
            <thead>
                <tr>
                    <th>品名</th>
                    <!-- 點擊後確認字串和顯示icon -->
                    <th class="click" @click="sortTitle = 'price', reverse = !reverse">價格
                        <!-- isReverse 為反轉 className -->
                        <span class="icon isReverse" v-if="sortTitle == 'price'" :class="{ 'inverse' : reverse }">
                            <i class=" fas fa-angle-up text-success"></i>
                        </span>
                    </th>
                    <!-- 點擊後確認字串和顯示icon -->
                    <th class="click" @click="sortTitle = 'expiryDate', reverse = !reverse">到期日
                        <span class="icon" v-if="sortTitle == 'expiryDate'" :class="{ 'inverse' : reverse }">
                            <i class=" fas fa-angle-up text-success"></i>
                        </span>
                    </th>
                </tr>
                <tr v-for="item in sortData">
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.expiryDate }}</td>
                </tr>
            </thead>
        </table>
    </div>


    <style>
        .table th.click {
            cursor: pointer;
        }
    
        .table th.click {
            cursor: pointer;
        }
    
        .icon {
            display: inline-block;
        }
    
        .icon.inverse {
            transform: rotate(180deg)
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="js/sort.js"></script>
    
</body>
</html>